.column {
  float: left;
  width: 50%;
  padding: 48px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.btnStyle{
    height: 40px;
    max-height: 48vh;
    font-size: 18.2px;
}
.printBtn{
    float : right;  
    overflow: hidden;
}
.noPrint{
  display:none;
}